:root {
  --main-bg-color: #f4d04e;
  --card-bg-color: #ffffff;
  --text-primary: #111111;
  --text-secondary: #6b6b6b;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Figtree", serif;
  padding: 1.5rem;
  background-color: var(--main-bg-color);
}

article {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 24rem;
  background-color: var(--card-bg-color);
  padding: 1.5rem;
  border: 1px solid var(--text-primary);
  border-radius: 20px;
  box-shadow: 8px 8px black;
  position: relative;
}

article:hover {
  transition: 0.3s;
  box-shadow: 16px 16px black;
}

article:hover h2 {
  transition: 0.3s;
  color: var(--main-bg-color);
}

.card-image {
  border-radius: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-tag {
  padding: 4px 12px;
  background-color: var(--main-bg-color);
  width: fit-content;
  border-radius: 4px;
  font-size: clamp(0.75rem, 0.8px + 2.3vw, 0.875rem);
  font-weight: 800;
}

.published-date {
  font-size: clamp(0.75rem, 0.8px + 2.3vw, 0.875rem);
  font-weight: 500;
}

h2 {
  font-size: clamp(1.25rem, 0.8px + 3.2vw, 1.5rem);;
  font-weight: 800;
}

h2 a {
  text-decoration: none;
}

h2 a::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

p {
  font-size: clamp(0.875rem, 0.8px + 2.3vw, 1rem);
  font-weight: 500;
  color: var(--text-secondary);
}

.author-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.author-container img {
  width: 2rem;
}

.author-container p {
  color: var(--text-primary);
  font-weight: 800;
  font-size: 0.875rem;
}
