:root {
  --main-bg-color: #f4d04e;
  --card-bg-color: #ffffff;
  --text-primary: #111111;
  --text-secondary: #6b6b6b;
}

body {
  font-family: "Figtree", serif;
}

main {
  min-height: 100vh;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
}

article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 24px;
  width: clamp(327px, 40vw, 384px);
  height: clamp(501px, 68vw, 522px);
  padding: 24px;
  background-color: var(--card-bg-color);
  border-radius: 20px;
  box-shadow: 8px 8px black;
  border: 1px solid var(--text-primary);
  transition: 0.7s;
}

article a {
  text-decoration: none;
}

article a::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

article:hover {
  box-shadow: 16px 16px black;
}

article:hover .blog-content h2 {
  color: var(--main-bg-color);
}

article img {
  border-radius: 10px;
}

.blog-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

.blog-content .blog-label {
  background-color: var(--main-bg-color);
  padding: 4px 12px;
  border-radius: 4px;
  font-size: clamp(12px, 3vw, 14px);
  font-weight: 800;
}

.blog-content .blog-date {
  font-size: clamp(12px, 3vw, 14px);
}

.blog-content h2 {
  font-size: clamp(20px, 5vw, 24px);
  font-weight: 800;
  transition: 0.7s;
}

.blog-content p {
  color: var(--text-secondary);
  font-size: clamp(14px, 3vw, 16px);
}

.author-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
  width: 129px;
  height: 32px;
}

.author-container .avatar-container,
.author-container .avatar-container img {
  height: 100%;
}

.author-container .author-name {
  font-size: 14px;
  font-weight: 800;
}
